body {
  margin: 0;
  padding: 0;
}

/* Typography */

h2,
p {
  margin: 0;
}

/* Section */

main {
  display: grid;
  grid-template-columns: 1fr;
}

/* Articles */

.article-header {
  background-color: #116a7b;
}

/* Images */

img {
  display: block;
  width: 100%;
}
