body {
  margin: 0;
  padding: 0;
  font-family: "Roboto Slab", serif;
}

/* Typography */

h2,
p {
  margin: 0;
}

h2 {
  font-family: "Cinzel Decorative", serif;
  font-size: 1rem;
  color: #222831;
  font-weight: 900;
}

p {
  text-shadow: 1px 1px 0px black;
  font-size: 0.88rem;
  color: #e0f7fa;
}

/* Section */

main {
  display: grid;
  gap: 1em;
  grid-template-columns: 1fr;
  grid-template-areas:
    "cryptic"
    "leviathan"
    "predators"
    "mutations"
    "bioluminescent";
}

/* Articles */

.article-header {
  background-color: #116a7b;
  box-sizing: border-box;
}

/* Images */

img {
  display: block;
  width: 100%;
  object-fit: cover;
}

.cryptic-creatures {
  grid-area: cryptic;
}

.leviathan-lore {
  grid-area: leviathan;
}

.predators {
  grid-area: predators;
}

.mutations {
  grid-area: mutations;
}

.bioluminescent {
  grid-area: bioluminescent;
}

/* Media */

@media (min-width: 500px) {
  main {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "cryptic cryptic"
      "leviathan predators"
      "mutations predators"
      "bioluminescent bioluminescent";
  }
}
