* {
  box-sizing: border-box;
}

body {
  display: grid;
  margin: 0;
  padding: 0;
  font-family: "Roboto Slab", serif;
  grid-template-columns: 1em 1fr 1em;
  grid-template-areas:
    "... ... ..."
    "... header ..."
    "... main ..."
    "... footer ..."
    "... ... ...";
  row-gap: 1em;
}

/* Typography */

h1,
h2,
p {
  margin: 0;
}

h1 {
  color: #222831;
}

h2 {
  font-family: "Cinzel Decorative", serif;
  font-size: 1.1rem;
  color: #222831;
  font-weight: 900;
}

article p {
  text-shadow: 1px 1px 0px black;
  font-size: 0.95rem;
  color: #e0f7fa;
  line-height: 1.5;
  margin-top: 0.4em;
}

.footer {
  color: #222831;
}

/* Section */

main {
  grid-area: main;
  display: grid;
  gap: 1em;
  grid-template-columns: 1fr;
  grid-template-areas:
    "cryptic"
    "leviathan"
    "predators"
    "abyssal"
    "mutations"
    "bioluminescent";
}

article {
  border-radius: 0.2em;
  background-color: #116a7b;
  height: 100%;
  cursor: pointer;
}

/* Articles */

.article-header {
  padding: 1em;
  width: 100%;
  text-align: center;
}

/* Images */

img {
  display: block;
  width: 100%;
  object-fit: cover;
}

/* Grid-area names */

header {
  grid-area: header;
}

footer {
  grid-area: footer;
}

.cryptic-creatures {
  grid-area: cryptic;
}

.leviathan-lore {
  grid-area: leviathan;
}

.predators {
  grid-area: predators;
}

.abyssal-biology {
  grid-area: abyssal;
}

.mutations {
  grid-area: mutations;
}

.bioluminescent {
  grid-area: bioluminescent;
}

/* Media */

@media (min-width: 500px) {
  body {
    grid-template-columns: 2em 1fr 2em;
  }

  main {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
      "cryptic cryptic"
      "leviathan predators"
      "mutations abyssal"
      "bioluminescent bioluminescent";
  }
}

@media (min-width: 800px) {
  main {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "cryptic cryptic leviathan predators predators"
      "mutations abyssal abyssal bioluminescent bioluminescent";
  }
}
